.task-section {
  margin-bottom: 20px; 
  border-radius: 10px; 
  overflow: hidden; 
  background: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.task-section-header {
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.task-section-content {
  padding: 10px; 
  background: #f9f9f9; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}

.section-title {
  flex-grow: 1; 
}

.toggle-icon {
  font-size: 18px;
  margin-left: auto; 
}
